<?xml version="1.0" encoding="utf-8"?>
<manifest package="ca.td.td4m3"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:theme="@style/NoActionBar">
        <activity android:name=".dashboard.DashboardActivity"/>
        <activity android:name=".survey.activity.SurveyActivity"/>
        <activity android:name=".activities.MortgageActivity"/>
    </application>

</manifest>